@charset "UTF-8";

.contenedor {
  position: relative;
  align-items: center;
  width: 100%;
}

#puertacerrada {
  font-size: 70px;
  color: red;
  display: none; 
  z-index: 3;
  position: absolute;
  top: 300px;
  margin-left: 235px;
  font-family: 'Roboto', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: white;
  -webkit-text-stroke: 1px black;
  text-shadow: 1px 1px 0 black;
  padding: 5px;
  border-radius: 5px;
}

#closetcerrado {
  font-size: 70px;
  color: fuchsia;
  display: none; 
  z-index: 3;
  position: absolute;
  top: 300px;
  margin-left: 235px;
  font-family: 'Roboto', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: white;
  -webkit-text-stroke: 1px black;
  text-shadow: 1px 1px 0 black;
  padding: 5px;
  border-radius: 5px;
}

#closetabierto {
  font-size: 70px;
  color: cyan;
  display: none; 
  z-index: 3;
  position: absolute;
  top: 300px;
  margin-left: 235px;
  font-family: 'Roboto', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: white;
  -webkit-text-stroke: 1px black;
  text-shadow: 1px 1px 0 black;
  padding: 5px;
  border-radius: 5px;
}

#puertaabierta {
  font-size: 70px;
  color: lime;
  display: none; 
  z-index: 3;
  position: absolute;
  top: 300px;
  margin-left: 235px;
  font-family: 'Roboto', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: white;
  -webkit-text-stroke: 1px black;
  text-shadow: 1px 1px 0 black;
  padding: 5px;
  border-radius: 5px;
}

#ventanaabierta {
  font-size: 70px;
  color: orange;
  display: none; 
  z-index: 3;
  position: absolute;
  top: 300px;
  margin-left: 235px;
  font-family: 'Roboto', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: white;
  -webkit-text-stroke: 1px black;
  text-shadow: 1px 1px 0 black;
  padding: 5px;
  border-radius: 5px;
}

#ventanacerrada {
  font-size: 70px;
  color: blue;
  display: none; 
  z-index: 3;
  position: absolute;
  top: 300px;
  margin-left: 235px;
  font-family: 'Roboto', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: white;
  -webkit-text-stroke: 1px black;
  text-shadow: 1px 1px 0 black;
  padding: 5px;
  border-radius: 5px;
}

.ccocina{
  position: absolute;
  z-index: 2;
  margin-left: 620px;
  margin-top: 950px;
  width: 500px;
  height: 300px;
}

.cfd{
  position: absolute;
  z-index: 2;
  margin-left: 620px;
  margin-top: 1300px;
  width: 500px;
  height: 300px;
}

.cgarage{
  position: absolute;
  z-index: 2;
  margin-left: 83px;
  margin-top: 950px;
  width: 500px;
  height: 300px;
}

.chb{
  position: absolute;
  z-index: 2;
  margin-left: 83px;
  margin-top: 1300px;
  width: 500px;
  height: 300px;
}

.botones {
  text-align: right;
  width: 20%;
  margin-left: 1000px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(3, 1fr);
  row-gap: 200px;
  column-gap: 10px;
}

.botones2 {
  text-align: right;
  width: 20%;
  margin-left: 720px;
  margin-top: -650px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(3, 1fr);
  row-gap: 220px;
  column-gap: 25px;
  z-index: 1;
}

.botones3 {
  text-align: right;
  width: 20%;
  margin-top: -720px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(3, 1fr);
  row-gap: 220px;
  column-gap: 20px;
  z-index: 1;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.plano {
  position: absolute;
  z-index: 0;
}

.sotanol {
  position: absolute;
  z-index: 2;
  margin-left: 725px;
  margin-top: 7px;
}

.h1l {
  position: absolute;
  z-index: 2;
  margin-top: 730px;
  margin-left: 13px;
}

.hpl {
  position: absolute;
  z-index: 2;
  margin-top: 154px;
  margin-left: 5px;
  width: 220px;
  height: 223px;
}

.hnl {
  position: absolute;
  z-index: 2;
  margin-top: 295px;
  margin-left: 5px;
}

.lavadol {
  position: absolute;
  z-index: 2;
  margin-left: 334px;
  margin-top: 372px;
}

.comedorl {
  position: absolute;
  z-index: 2;
  margin-left: 495px;
  margin-top: 88px;
}

.baño1l {
  position: absolute;
  z-index: 2;
  margin-top: 582px;
  margin-left: 11px;
}

.b2l {
  position: absolute;
  z-index: 2;
  margin-top: 8px;
  margin-left: 4px;
}

.cocinal {
  position: absolute;
  z-index: 2;
  margin-top: 308px;
  margin-left: 495px;
}

.pasillocl {
  position: absolute;
  z-index: 2;
  margin-top: 447px;
  margin-left: 148px;
}

.pasillopl {
  position: absolute;
  z-index: 2;
  margin-top: 445px;
  margin-left: 220px;
}

.salal {
  position: absolute;
  z-index: 2;
  margin-top: 89px;
  margin-left: 216px;
}

.escalerasl {
  position: absolute;
  z-index: 2;
  margin-top: 90px;
  margin-left: 426px;
}

.oculto {
  display: none;
}

.ppa {
  position: absolute;
  z-index: 2;
  margin-top: 799px;
  margin-left: 233px;
}

.vsa {
  position: absolute;
  z-index: 2;
  margin-top: 86px;
  margin-left: 314px;
}

.pb1a {
  position: absolute;
  z-index: 2;
  margin-top: 663px;
  margin-left: 141px;
}

.pb2a {
  position: absolute;
  z-index: 2;
  margin-top: 152px;
  margin-left: 91px;
}
.c1a{
  position: absolute;
  z-index: 2;
  margin-top: 803px;
  margin-left: 150px;
}
.c2a{
  position: absolute;
  z-index: 2;
  margin-top: 10px;
  margin-left: 138px;
}
.cp1l{
  position: absolute;
  z-index: 2;
  margin-top: 440px;
  margin-left: 292px;
}

.vca {
  position: absolute;
  z-index: 2;
  margin-top: 408px;
  margin-left: 695px;
}

.pga {
  position: absolute;
  z-index: 2;
  margin-top: 516px;
  margin-left: 427px;
}

.pcga {
  position: absolute;
  z-index: 2;
  margin-top: 863px;
  margin-left: 421px;
}

.pcla2{
  position: absolute;
  z-index: 2;
  margin-top: 723px;
  margin-left: 234px;
}
.va {
  position: absolute;
  z-index: 2;
  margin-top: 85px;
  margin-left: 524px;
}

.npa{
  position: absolute;
  z-index: 2;
  margin-top: 458px;
  margin-left: 142px;
}
.psa {
  position: absolute;
  z-index: 2;
  margin-top: 293px;
  margin-left: 438px;
}

.pcla {
  position: absolute;
  z-index: 2;
  margin-top: 377px;
  margin-left: 437px;
}

.h1pa {
  position: absolute;
  z-index: 2;
  margin-top: 728px;
  margin-left: 158px;
}

.h1va {
  position: absolute;
  z-index: 2;
  margin-top: 876px;
  margin-left: 30px;
}

.vhpa {
  position: absolute;
  z-index: 2;
  margin-top: 180px;
  margin-left: 11px;
}

.nva {
  position: absolute;
  z-index: 2;
  margin-top: 333px;
  margin-left: 3px;

}

.vb1a {
  position: absolute;
  z-index: 2;
  margin-top: 653px;
  margin-left: 12px;
}

.vb2a {
  position: absolute;
  z-index: 2;
  margin-top: 6px;
  margin-left: 86px;
}
.onl{
  position: absolute;
  z-index: 2;
  margin-top: 309px;
  margin-left: 149px;
}
.garagel{
  position: absolute;
  z-index: 2;
  margin-top: 524px;
  margin-left: 309px;
}

.cp2l {
  position: absolute;
  z-index: 2;
  margin-top: 517px;
  margin-left: 103px;

}


.phpa {
  position: absolute;
  z-index: 2;
  margin-top: 369px;
  margin-left: 158px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f1f1f1;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background-color: black;
}