@charset "UTF-8";

.contenedor {
  position: relative;
  align-items: center;
  width: 100%;
}

.botones {
  text-align: right;
  width: 20%;
  margin-left: 1000px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(3, 1fr);
  row-gap: 200px;
  column-gap: 1px;
}

.botones2 {
  text-align: right;
  width: 20%;
  margin-left: 720px;
  margin-top: -650px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(3, 1fr);
  row-gap: 200px;
  column-gap: 10px;
  z-index: 1;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.plano {
  position: absolute;
  z-index: 0;
}

.sotanol {
  position: absolute;
  z-index: 2;
  margin-left: 725px;
  margin-top: 83px;
}

.h1l {
  position: absolute;
  z-index: 2;
  margin-top: 805px;
  margin-left: 13px;
}

.hpl {
  position: absolute;
  z-index: 2;
  margin-top: 225px;
  margin-right: 22px;
  width: 220px;
  height: 223px;
}

.hnl {
  position: absolute;
  z-index: 2;
  margin-top: 373px;
  margin-left: 5px;
}

.lavadol {
  position: absolute;
  z-index: 2;
  margin-left: 335px;
  margin-top: 447px;
}

.comedorl {
  position: absolute;
  z-index: 2;
  margin-left: 495px;
  margin-top: 162px;
}

.baño1l {
  position: absolute;
  z-index: 2;
  margin-top: 661px;
  margin-left: 13px;
}

.b2l {
  position: absolute;
  z-index: 2;
  margin-top: 83px;
  margin-left: 5px;
}

.cocinal {
  position: absolute;
  z-index: 2;
  margin-top: 383px;
  margin-left: 495px;
}

.garagel {
  position: absolute;
  z-index: 2;
  margin-top: 600px;
  margin-left: 310px;
}

.pasillocl {
  position: absolute;
  z-index: 2;
  margin-top: 523px;
  margin-left: 147px;
}

.pasillopl {
  position: absolute;
  z-index: 2;
  margin-top: 523px;
  margin-left: 223px;
}

.salal {
  position: absolute;
  z-index: 2;
  margin-top: 164px;
  margin-left: 223px;
}

.escalerasl {
  position: absolute;
  z-index: 2;
  margin-top: 164px;
  margin-left: 426px;
}

.oculto {
  display: none;
}

.ppa {
  position: absolute;
  z-index: 2;
  margin-top: 799px;
  margin-left: 233px;
}

.vsa {
  position: absolute;
  z-index: 2;
  margin-top: 162px;
  margin-left: 314px;
}

.pb1a {
  position: absolute;
  z-index: 2;
  margin-top: 740px;
  margin-left: 141px;
}

.pb2a {
  position: absolute;
  z-index: 2;
  margin-top: 228px;
  margin-left: 91px;
}

.vca {
  position: absolute;
  z-index: 2;
  margin-top: 485px;
  margin-left: 695px;
}

.pga {
  position: absolute;
  z-index: 2;
  margin-top: 592px;
  margin-left: 428px;
}

.pcga {
  position: absolute;
  z-index: 2;
  margin-top: 939px;
  margin-left: 420px;
}

.va {
  position: absolute;
  z-index: 2;
  margin-top: 162px;
  margin-left: 524px;
}

.npa {
  position: absolute;
  z-index: 2;
  margin-top: 533px;
  margin-left: 142px;
}

.psa {
  position: absolute;
  z-index: 2;
  margin-top: 370px;
  margin-left: 438px;
}

.pcla {
  position: absolute;
  z-index: 2;
  margin-top: 454px;
  margin-left: 437px;
}

.h1pa {
  position: absolute;
  z-index: 2;
  margin-top: 805px;
  margin-left: 158px;
}

.h1va {
  position: absolute;
  z-index: 2;
  margin-top: 952px;
  margin-left: 30px;
}

.vhpa {
  position: absolute;
  z-index: 2;
  margin-top: 260px;
  margin-left: 11px;
}

.nva {
  position: absolute;
  z-index: 2;
  margin-top: 410px;
  margin-left: 3px;

}

.vb1a {
  position: absolute;
  z-index: 2;
  margin-top: 730px;
  margin-left: 12px;
}

.vb2a {
  position: absolute;
  z-index: 2;
  margin-top: 83px;
  margin-left: 86px;
}

.cp2l {
  position: absolute;
  z-index: 2;
  margin-top: 595px;
  margin-left: 105px;

}

.cp1l {
  position: absolute;
  z-index: 2;
  margin-top: 515px;
  margin-left: 290px;
}

.c1a {
  position: absolute;
  z-index: 2;
  margin-top: 880px;
  margin-left: 147px;
}

.phpa {
  position: absolute;
  z-index: 2;
  margin-top: 445px;
  margin-left: 158px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f1f1f1;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --bs-blue: #2a9fd6;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #e83e8c;
  --bs-red: #c00;
  --bs-orange: #fd7e14;
  --bs-yellow: #f80;
  --bs-green: #77b300;
  --bs-teal: #20c997;
  --bs-cyan: #93c;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #555;
  --bs-gray-dark: #222;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #adafae;
  --bs-gray-500: #888;
  --bs-gray-600: #555;
  --bs-gray-700: #282828;
  --bs-gray-800: #222;
  --bs-gray-900: #212529;
  --bs-primary: #2a9fd6;
  --bs-secondary: #555;
  --bs-success: #77b300;
  --bs-info: #93c;
  --bs-warning: #f80;
  --bs-danger: #c00;
  --bs-light: #222;
  --bs-dark: #adafae;
  --bs-primary-rgb: 42, 159, 214;
  --bs-secondary-rgb: 85, 85, 85;
  --bs-success-rgb: 119, 179, 0;
  --bs-info-rgb: 153, 51, 204;
  --bs-warning-rgb: 255, 136, 0;
  --bs-danger-rgb: 204, 0, 0;
  --bs-light-rgb: 34, 34, 34;
  --bs-dark-rgb: 173, 175, 174;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 173, 175, 174;
  --bs-body-bg-rgb: 6, 6, 6;
  --bs-font-sans-serif: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #adafae;
  --bs-body-bg: #060606;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #2a9fd6;
  --bs-link-hover-color: #227fab;
  --bs-code-color: #e83e8c;
  --bs-highlight-bg: #ffe7cc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

img,
svg {
  vertical-align: middle;
}

body {
  background-color: black;
}